#numImpairs
{
	display : inline-block;
	vertical-align : top;
	margin-top : 20px;
}
#numPairs
{
	display : inline-block;
	vertical-align : top;
	margin-top : 20px;
}
#picGpio
{
	display : inline-block;
	vertical-align : top;
}