#numImpairs
{
	display : inline-block;
	vertical-align : top;
	margin-top : 50px;
}
#numPairs
{
	display : inline-block;
	vertical-align : top;
	margin-top : 60px;
}
#picGpio
{
	display : inline-block;
	vertical-align : top;
}
#sensGpio
{
	display : inline-block;
	vertical-align : top;
	height : 50%;
}
.ligneVide
{
	height : 44px;
}