<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Interface Web RPI</title>
		
		 <link type="text/css" href="/stylesheet/stylesheet.css" rel="stylesheet" />
		 
        <script src="/javascript/utils/jQuery-1.10.1.js"></script>
        <script src="/javascript/gpiomanager.js"></script>
        <script src="/javascript/events/gpiomanager.js"></script>

    </head>
 
    <body>
    	<input id='address' type='hidden' value='<%=address %>' />
        <input id='port' type='hidden' value='<%=port %>' />

		<h1>Gestion des GPIO</h1>
		
		<div id="numImpairs">
			<table class="numeros">
				<tr><td id="un">1</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="trois">3</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="cinq">5</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="sept">7</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="neuf">9</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="onze">11</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="treize">13</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="quinze">15</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="dixsept">17</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="dixneuf">19</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="vingtetun">21</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="vingttrois">23</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="vingtcinq">25</td></tr>
			</table>
		</div>
		<div id="picGpio">
			<p>
				<?xml version="1.0" encoding="UTF-8" standalone="no"?>
				<!-- Created with Inkscape (http://www.inkscape.org/) -->
				
				<svg
				   xmlns:dc="http://purl.org/dc/elements/1.1/"
				   xmlns:cc="http://creativecommons.org/ns#"
				   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
				   xmlns:svg="http://www.w3.org/2000/svg"
				   xmlns="http://www.w3.org/2000/svg"
				   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				   width="293"
				   height="936"
				   id="svg2"
				   version="1.1"
				   inkscape:version="0.48.4 r9939"
				   sodipodi:docname="gpio.svg">
				  <defs
				     id="defs4" />
				  <sodipodi:namedview
				     id="base"
				     pagecolor="#ffffff"
				     bordercolor="#666666"
				     borderopacity="1.0"
				     inkscape:pageopacity="0.0"
				     inkscape:pageshadow="2"
				     inkscape:zoom="0.6"
				     inkscape:cx="219.16667"
				     inkscape:cy="294.18213"
				     inkscape:document-units="px"
				     inkscape:current-layer="layer1"
				     showgrid="false"
				     showguides="true"
				     inkscape:guide-bbox="true"
				     inkscape:window-width="1366"
				     inkscape:window-height="705"
				     inkscape:window-x="-8"
				     inkscape:window-y="-8"
				     inkscape:window-maximized="1"
				     fit-margin-left="1"
				     fit-margin-right="1"
				     fit-margin-top="0"
				     fit-margin-bottom="0" />
				  <metadata
				     id="metadata7">
				    <rdf:RDF>
				      <cc:Work
				         rdf:about="">
				        <dc:format>image/svg+xml</dc:format>
				        <dc:type
				           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
				        <dc:title />
				      </cc:Work>
				    </rdf:RDF>
				  </metadata>
				  <g
				     inkscape:label="Calque 1"
				     inkscape:groupmode="layer"
				     id="layer1"
				     transform="translate(-10.833334,-1.8621827)">
				    <rect
				       style="fill:#cccccc;fill-rule:evenodd;stroke:#000000;stroke-width:1.0644263px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
				       id="rect2985"
				       width="289.93558"
				       height="934.93555"
				       x="12.365547"
				       y="2.3943958" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#800080"
				       id="pinVingtEtUn"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,465.66666)"
				       inkscape:label="pinVingtEtUn" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#00ffff"
				       id="pinCinq"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,-91.666677)"
				       inkscape:label="pinCinq" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioSept"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,-22.000013)"
				       inkscape:label="gpioSept" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#000000"
				       id="pinNeuf"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,47.666648)"
				       inkscape:label="pinNeuf" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioOnze"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,117.33331)"
				       inkscape:label="gpioOnze" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioTreize"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,187.00002)"
				       inkscape:label="gpioTreize" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioQuinze"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,256.66667)"
				       inkscape:label="gpioQuinze" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#ffff00"
				       id="pinDixSept"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,326.33333)"
				       inkscape:label="pinDixSept" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#00ffff"
				       id="pinTrois"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,-161.33332)"
				       inkscape:label="pinTrois" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#ffff00"
				       id="pinUn"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,-230.99996)"
				       inkscape:label="pinUn" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#800080"
				       id="pinDixNeuf"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,396)"
				       inkscape:label="pinDixNeuf" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#800080"
				       id="pinVingtTrois"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,535.33332)"
				       inkscape:label="pinVingtTrois" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#000000"
				       id="pinVingtCinq"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-449.74356,604.99999)"
				       inkscape:label="pinVingtCinq" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#ff0000"
				       id="pinDeux"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,-225.00004)"
				       inkscape:label="pinDeux" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#800080"
				       id="pinVingtSix"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,619.33332)"
				       inkscape:label="pinVingtSix" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#800080"
				       id="pinVingtQuatre"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,548.9722)"
				       inkscape:label="pinVingtQuatre" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioVingtDeux"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,478.61109)"
				       inkscape:label="gpioVingtDeux" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#000000"
				       id="pinVingt"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,408.24997)"
				       inkscape:label="pinVingt" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioDixHuit"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,337.88884)"
				       inkscape:label="gpioDixHuit" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioSeize"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,267.52773)"
				       inkscape:label="gpioSeize" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#000000"
				       id="pinQuatorze"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,197.16665)"
				       inkscape:label="pinQuatorze" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#008000"
				       id="gpioDouze"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,126.80553)"
				       inkscape:label="gpioDouze" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#ffff00"
				       id="pinDix"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,56.444397)"
				       inkscape:label="pinDix" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#ffff00"
				       id="pinHuit"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,-13.916697)"
				       inkscape:label="pinHuit" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#000000"
				       id="pinSix"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,-84.277812)"
				       inkscape:label="pinSix" />
				    <path
				       sodipodi:type="arc"
				       style="fill:#ff0000"
				       id="pinQuatre"
				       sodipodi:cx="475"
				       sodipodi:cy="280.69553"
				       sodipodi:rx="21.666666"
				       sodipodi:ry="25"
				       d="m 496.66667,280.69553 c 0,13.80711 -9.7005,25 -21.66667,25 -11.96617,0 -21.66667,-11.19289 -21.66667,-25 0,-13.80712 9.7005,-25 21.66667,-25 11.96617,0 21.66667,11.19288 21.66667,25 z"
				       transform="matrix(1.1538461,0,0,1,-334.41025,-154.63897)"
				       inkscape:label="pinQuatre" />
				    <flowRoot
				       xml:space="preserve"
				       id="flowRoot3947"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-48.931641,-19.999969)"><flowRegion
				         id="flowRegion3949"><rect
				           id="rect3951"
				           width="36.666668"
				           height="55"
				           x="83.333336"
				           y="47.362183" /></flowRegion><flowPara
				         id="flowPara3953">1</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot3955"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><flowRegion
				         id="flowRegion3957"><rect
				           id="rect3959"
				           width="108.33334"
				           height="98.333336"
				           x="28.333334"
				           y="30.695517" /></flowRegion><flowPara
				         id="flowPara3961" /></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot3963"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-47.013672,-35.512177)"><flowRegion
				         id="flowRegion3965"><rect
				           id="rect3967"
				           width="38.333332"
				           height="46.666668"
				           x="80"
				           y="132.36218" /></flowRegion><flowPara
				         id="flowPara3969">3</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot3971"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-60.455078,-24.327118)"><flowRegion
				         id="flowRegion3973"><rect
				           id="rect3975"
				           width="33.333332"
				           height="65"
				           x="93.333336"
				           y="190.69551" /></flowRegion><flowPara
				         id="flowPara3977">5</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot3979"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-37.121094,-44.331512)"><flowRegion
				         id="flowRegion3981"><rect
				           id="rect3983"
				           width="36.666668"
				           height="61.666668"
				           x="70"
				           y="280.69553" /></flowRegion><flowPara
				         id="flowPara3985">7</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot3987"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-32.033203,-56.277313)"><flowRegion
				         id="flowRegion3989"><rect
				           id="rect3991"
				           width="30"
				           height="68.333336"
				           x="65"
				           y="362.36218" /></flowRegion><flowPara
				         id="flowPara3993">9</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot3995"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><flowRegion
				         id="flowRegion3997"><rect
				           id="rect3999"
				           width="40"
				           height="65"
				           x="80"
				           y="415.69553" /></flowRegion><flowPara
				         id="flowPara4001" /></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4007"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-53.376953,-47.947723)"><flowRegion
				         id="flowRegion4009"><rect
				           id="rect4011"
				           width="71.666664"
				           height="68.333336"
				           x="76.666664"
				           y="424.02884" /></flowRegion><flowPara
				         id="flowPara4013">11</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4015"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-52.828125,-26.80368)"><flowRegion
				         id="flowRegion4017"><rect
				           id="rect4019"
				           width="86.666664"
				           height="81.666664"
				           x="73.333336"
				           y="472.36218" /></flowRegion><flowPara
				         id="flowPara4021">13</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4023"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-54.591797,-15.364746)"><flowRegion
				         id="flowRegion4025"><rect
				           id="rect4027"
				           width="51.666668"
				           height="75"
				           x="75"
				           y="530.6955" /></flowRegion><flowPara
				         id="flowPara4029">15</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4031"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-51.140625,-13.722656)"><flowRegion
				         id="flowRegion4033"><rect
				           id="rect4035"
				           width="58.333332"
				           height="55"
				           x="71.666664"
				           y="599.02887" /></flowRegion><flowPara
				         id="flowPara4037">17</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4039"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-49.513672,-9.225098)"><flowRegion
				         id="flowRegion4041"><rect
				           id="rect4043"
				           width="63.333332"
				           height="63.333332"
				           x="70"
				           y="664.02887" /></flowRegion><flowPara
				         id="flowPara4045">19</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4047"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-43.472656,-7.583008)"><flowRegion
				         id="flowRegion4049"><rect
				           id="rect4051"
				           width="61.666668"
				           height="70"
				           x="68.333336"
				           y="732.36218" /></flowRegion><flowPara
				         id="flowPara4053">21</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4055"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-49.548828,-21.407715)"><flowRegion
				         id="flowRegion4057"><rect
				           id="rect4059"
				           width="60"
				           height="61.666668"
				           x="71.666664"
				           y="815.6955" /></flowRegion><flowPara
				         id="flowPara4061">23</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4063"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-48,-20)"><flowRegion
				         id="flowRegion4065"><rect
				           id="rect4067"
				           width="55"
				           height="58.333332"
				           x="70"
				           y="884.02887" /></flowRegion><flowPara
				         id="flowPara4069">25</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4071"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-48,-8)"><flowRegion
				         id="flowRegion4073"><rect
				           id="rect4075"
				           width="36.666668"
				           height="53.333332"
				           x="303.33334"
				           y="42.362183" /></flowRegion><flowPara
				         id="flowPara4077">2</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4079"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-39.412109,-15.796059)"><flowRegion
				         id="flowRegion4081"><rect
				           id="rect4083"
				           width="55"
				           height="51.666668"
				           x="295"
				           y="120.69552" /></flowRegion><flowPara
				         id="flowPara4085">4</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4087"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-31.615234,-17.09407)"><flowRegion
				         id="flowRegion4089"><rect
				           id="rect4091"
				           width="73.333336"
				           height="61.666668"
				           x="286.66666"
				           y="192.36218" /></flowRegion><flowPara
				         id="flowPara4093">6</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4095"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-51.712891,-18.175285)"><flowRegion
				         id="flowRegion4097"><rect
				           id="rect4099"
				           width="45"
				           height="48.333332"
				           x="306.66666"
				           y="264.02884" /></flowRegion><flowPara
				         id="flowPara4101">8</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4111"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-42.478516,-15.944)"><flowRegion
				         id="flowRegion4113"><rect
				           id="rect4115"
				           width="56.666668"
				           height="55"
				           x="285"
				           y="332.36218" /></flowRegion><flowPara
				         id="flowPara4117">10</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4119"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-39.037109,-18.437325)"><flowRegion
				         id="flowRegion4121"><rect
				           id="rect4123"
				           width="61.666668"
				           height="46.666668"
				           x="281.66666"
				           y="405.69553" /></flowRegion><flowPara
				         id="flowPara4125">12</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4127"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-49.125,-16.206039)"><flowRegion
				         id="flowRegion4129"><rect
				           id="rect4131"
				           width="65"
				           height="56.666668"
				           x="291.66666"
				           y="474.02884" /></flowRegion><flowPara
				         id="flowPara4133">14</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4135"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-54.173828,-15.875176)"><flowRegion
				         id="flowRegion4137"><rect
				           id="rect4139"
				           width="48.333332"
				           height="56.666668"
				           x="296.66666"
				           y="544.02887" /></flowRegion><flowPara
				         id="flowPara4141">16</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4143"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-37.556641,-18.64389)"><flowRegion
				         id="flowRegion4145"><rect
				           id="rect4147"
				           width="53.333332"
				           height="53.333332"
				           x="280"
				           y="617.36218" /></flowRegion><flowPara
				         id="flowPara4149">18</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4159"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-35.886719,-13.068855)"><flowRegion
				         id="flowRegion4161"><rect
				           id="rect4163"
				           width="65"
				           height="46.666668"
				           x="280"
				           y="682.36218" /></flowRegion><flowPara
				         id="flowPara4165">20</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4167"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-35.789062,-0.56218)"><flowRegion
				         id="flowRegion4169"><rect
				           id="rect4171"
				           width="65"
				           height="70"
				           x="280"
				           y="740.6955" /></flowRegion><flowPara
				         id="flowPara4173">22</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4175"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-40.876953,-6.674644)"><flowRegion
				         id="flowRegion4177"><rect
				           id="rect4179"
				           width="70"
				           height="56.666668"
				           x="285"
				           y="817.36218" /></flowRegion><flowPara
				         id="flowPara4181">24</flowPara></flowRoot>    <flowRoot
				       xml:space="preserve"
				       id="flowRoot4183"
				       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
				       transform="translate(-45.925781,-8)"><flowRegion
				         id="flowRegion4185"><rect
				           id="rect4187"
				           width="58.333332"
				           height="61.666668"
				           x="290"
				           y="889.02887" /></flowRegion><flowPara
				         id="flowPara4191">26</flowPara></flowRoot>  </g>
				</svg>
			</p>
		</div>
		<div id="numPairs">
			<table class="numeros">
				<tr><td id="deux">2</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="quatre">4</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="six">6</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="huit">8</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="dix">10</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="douze">12</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="quatorze">14</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="seize">16</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="dixhuit">18</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="vingt">20</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="vingtdeux">22</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="vingtquatre">24</td></tr>
				<tr class="ligneVide"><td></td></tr>
				<tr><td id="vingtsix">26</td></tr>
			</table>
		</div>
		<div id="divSensGpio">
			<p><img src="/stylesheet/images/sensGpio.png" alt="Sens port GPIO" id="sensGpio" /></p>
		</div>
		<div>
			<p><a href="/">Accueil</a></p>
		</div>
		
    </body>
</html>
