<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Interface Web RPI</title>
		
		<link type="text/css" href="/stylesheet/stylesheet.css" rel="stylesheet" />
        <script src="/javascript/utils/jQuery-1.10.1.js"></script>
        <script src="/javascript/index.js"></script>
        <script src="/javascript/events/index.js"></script>

    </head>
 
    <body>
    	<input id='address' type='hidden' value='<%=address %>' />
        <input id='port' type='hidden' value='<%=port %>' />
		<h1>Interface Web RPI</h1>
		<div id="main">
			<div id="liens">
			<ul>
				<li><a href="/gpiomanager">Gestion des GPIO</a></li>
				<li><a href="/raspcontrol" target="_blank">Raspcontrol</a></li>
				<li><a href="/transmission">Transmission</a></li>
			</ul>
			</div>
		</div>
		
    </body>
</html>
