<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Interface Web RPI</title>
		
		<link type="text/css" href="/stylesheet/stylesheet.css" rel="stylesheet" />
        <script src="/javascript/utils/jQuery-1.10.1.js"></script>
        <script src="/javascript/lecteur.js"></script>
        <script src="/javascript/events/lecteur.js"></script>

    </head>
 
    <body>
    	<input id='address' type='hidden' value='<%=address %>' />
        <input id='port' type='hidden' value='<%=port %>' />
        
		<div id="main">
			<div id="liens">
				<ul>
					<li class="actif"><a href="/">Accueil</a></li>
					<li class="inactif"><a href="/gpiomanager">Gestion des GPIO</a></li>
					<li class="inactif"><a href="/raspcontrol" target="_blank">Raspcontrol</a></li>
					<li class="inactif"><a href="/transmission">Transmission</a></li>
					<li class="inactif"><a href="/lecteur">Lecteur</a></li>
				</ul>
			</div>
			<div id="contenu">
				<input type="text" id="cheminMusiques" />
				<input type="button" id="sendChemin" />
			</div>
		</div>
		
    </body>
</html>
