<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Interface Web RPI</title>
		
        <link type="text/css" href="/stylesheet/stylesheet.css" rel="stylesheet" />
        <script src="/javascript/utils/jQuery-1.10.1.js"></script>
        <script src="/javascript/transmission.js"></script>
        <script src="/javascript/events/transmission.js"></script>

    </head>
 
    <body>
    	<input id='address' type='hidden' value='<%=address %>' />
        <input id='port' type='hidden' value='<%=port %>' />
	
		<div id="main">
			<div id="liens">
			<ul>
				<li class="inactif"><a href="/">Accueil</a></li>
				<li class="inactif"><a href="/gpiomanager">Gestion des GPIO</a></li>
				<li class="inactif"><a href="/raspcontrol" target="_blank">Raspcontrol</a></li>
				<li class="actif"><a href="/transmission">Transmission</a></li>
				</ul>
			</div>
			<div id="contenu">
				<h1>Téléchargement de torrents avec Transmission</h1>
				<div id="torrentForm">
					<p>Lien du torrent (File, URL, Magnet) <input type="text" size=40 id="lienTorrent" /></p>
					<p id="selDD">Selectionner un espace de stockage : <br /> <input type="radio" name="selDD" value="rpi" /> Stocker sur le RPI</p>
					<p><input type="button" value="Télécharger" id="torrentOk" /></p>
				</div>
			</div>
		</div>
		
    </body>
</html>
